body {
    font-family: Arial, sans-serif;
    background: url('0.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    backdrop-filter: blur(10px);
}
.player-container {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    max-width: 300px;
    text-align: center;
}
#album-cover {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 20px;
}
#title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: -5px;
    color: #fff;
}
#artist {
    font-size: 14px;
    color: #b3b3b3;
    margin-bottom: 20px;
}
.progress-container {
    background: #404040;
    border-radius: 5px;
    cursor: pointer;
    height: 4px;
    margin-bottom: 20px;
    position: relative;
    width: 100%;
}
.progress {
    background: #1db954;
    border-radius: 5px;
    height: 100%;
    width: 0;
}
button {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 24px;
    margin: 0 15px;
    transition: transform 0.2s;
}
button:hover {
    transform: scale(1.2);
}
#play {
    color: #1db954;
}
#prev, #next {
    color: #b3b3b3;
}
